# Python temp files
**/__pycache__/

# Python Virtal Environment
.venv/

# Java documentation build tools
bin/plantuml.jar

# Backup files
*.orig

# Temporary packaging files
dist/
urest.egg-info/
urest_mp.egg-info/
