site_name: uREST MicroPython Library

theme:
  name: readthedocs

extra_css:
  - css/extra.css

plugins:
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            heading_level: 2
            separate_signature: True
            docstring_section_style: list
            show_root_heading: True
            show_signature_annotations: True
            show_category_heading: True
            show_source: True



markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences

nav:
  - Home: 'index.md'
  - 'Tutorials':
    - 'Pico Network Server': 'tutorials/pico_server.md'
    - 'Creating a Client': 'tutorials/client_test.md'
  - 'How-To':
    - 'Set-Up the Pico Board': 'how_to/pico_setup.md'
    - 'Testing the Library': 'how_to/run_tests.md'
  - 'Reference':
    - 'Creating an API': 'ref/api.md'
    - 'Serving the API': 'ref/http.md'
  - 'Background':
    - 'REST APIs': 'background/rest.md'

watch:
  - urest
